<html data-theme="light">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Pokedex</title>
</head>
<body class="bg-base-200 p-8">
    <h1 class="text-5xl mb-4">Pokemons do Mundo</h1>
    <div class="mt-2 mb-2">
        <span><a href="/">Início</a></span>
           </div>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">
            <thead>
                <tr>
                <td>ID</td>
                <td>Foto</td>
                <td>Nome</td>
                <td>Tipo</td>
                <td>Estagio</td>
                </tr>
            </thead>
            <tbody>
            <tr class="hover:bg-base-300">
                <td>1</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png"></td>
                <td>Bubassauro</td>
                <td>Planta</td>
                <td>Primeiro</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>2</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/002.png"></td>
                <td>Ivyssauro</td>
                <td>Planta-Venenoso</td>
                <td>Segundo</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>3</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/003.png"></td>
                <td>Venussauro</td>
                <td>Planta-Venenoso</td>
                <td>Terceiro</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>4</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/007.png"></td>
                <td>Squirtle</td>
                <td>Água</td>
                <td>Primeiro</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>5</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/008.png"></td>
                <td>Wartortle</td>
                <td>Água</td>
                <td>Segundo</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>6</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/009.png"></td>
                <td>Blastoise</td>
                <td>Água</td>
                <td>Terceiro</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>7</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/004.png"></td>
                <td>Charmander</td>
                <td>Fogo</td>
                <td>Primeiro</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>1</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/005.png"></td>
                <td>Charmeleon</td>
                <td>Fogo</td>
                <td>Segundo</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>1</td>
                <td><img  width="80" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/006.png"></td>
                <td>Charizard</td>
                <td>Fogo-Voador</td>
                <td>Terceiro</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>