<html data-theme="light">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Pokedex</title>
</head>
<body class="bg-base-200 p-8">
    <h1 class="text-5xl mb-4">Criar um novo Pokemon</h1>
    <div class="mt-2 mb-2 flex items-center gap-2 text-sm">
        <span><a href="/">Início</a></span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
        <span><a href="/pokemons2">Pokemons</a></span>
    </div>
    <form th:action="@{/pokemons2/criar}"
          method="post"
          th:object="${criarPokemonRequest}"
          class="space-y-3">

        <label for="nome" class="input flex items-center gap-2">
            <span class="w-24">Nome</span>
            <input id="nome" th:field="*{nome}" type="text" class="grow" required>
        </label>

        <label for="tipo" class="input flex items-center gap-2">
            <span class="w-24">Tipo</span>
            <input id="tipo" th:field="*{tipo}" type="text" class="grow" required>
        </label>

        <label for="estagio" class="input flex items-center gap-2">
            <span class="w-24">Estagio</span>
            <input id="estagio" th:field="*{estagio}" type="text" class="grow">
        </label>

        <label for="fotoUrl" class="input flex items-center gap-2">
            <span class="w-24">Foto</span>
            <input id="fotoUrl" th:field="*{fotoUrl}" type="text" class="grow" placeholder="https://...">
        </label>

        <div class="pt-4 flex ">
            <a href="/" class="btn btn-ghost mr-4">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

    </form>
    <div th:if="${erro}" class="text-red-500 mb-3">
        <p th:text="${erro}"></p>
    </div>


</body>
</html>